* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
#preserve production server settings! (merge 'ours' = true)
config/database.php merge=ours
