/node_modules
/public/hot
/public/storage
/public/*
/storage/*.key
/vendor
/vendor/*
/config/database.php
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
public/css/app.css
composer.lock
vendor/composer/installed.json
