// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//---------- Element Overrides ----------------

html, body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

footer {
    border-top: 30px solid #6A6B6F;
    width: 100vw;
    margin-top: 50px;
    bottom: 0;
}

#app{
min-height: 100%;
position: relative;
}
//---------- Partials -------------------------

//Navigation Bar
.nav-brand img {
    width: 100px;
    margin: 0;
    padding: 0;
}

.nav-header {//start of nav-header
    border-bottom: 3px solid #33A849;
    box-shadow: 0 -10px 10px 10px #888888;

    img.logo {
        height: 50px;
    }

    ul {//start of ul
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
        }

        a {
            display: inline-block;
            line-height: 50px;
            padding: 0 20px;
            color: #4C4D4F;
            font-weight: bold;

            &:hover {
            color: #33A849;
            transition: 0.2s;
            text-decoration: none;
            }
        }
    }//end of ul

    .nav-logo {
        padding-left: 0px;
    }

}//end of nav-header

//Utility classes
.scriibi-primary-btn {
    border: none;
    background-color: #33A849;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    margin-top: 8px;
}

.scriibi-primary-btn:hover {
    background-color: #33A849;
}

.icon-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

.icon-btn:focus {
    outline: none;
}

.top-divider {
    margin-top: 50px;
}

.header-text {
    font-size: 1.2rem;
}

.universal-card {
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.30);
    height: 66px;
    background-color: white;
}

.put-full-width-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.disabled {
    cursor: no-drop !important;
}

.fade-out {
    opacity: 0;
    transition: 0.3s ease-out;
}

.fade-in {
    opacity: 1;
    transition: 0.3s ease-in;
}

.checked {
    border:2px solid #33A849 !important;
}

.sub-heading {
    font-size: 0.7rem;
}

//---------- Page Specific --------------------

// Home-page: dashboard
#main-panel{
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas:
        "sl-panel btn-panel";
    height: 50vh;

}

.btn-panel{
    display: grid;
    grid-auto-rows: 4fr 3fr 2fr 2fr;
}


.student-list-scroll{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;

}

.studet-list-text{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color:  #3D3D3D;
}

.teaching-lesson-title{
    border-radius: 7px;
    background-color: #33A88C;

}

.peer-assessment-title {
    border-radius: 7px;
    background-color: #6EB4DC;
}


.scriibi-support-title{
    border-radius: 7px;
    background-color: #4E76C3;
}

.student-list-card-style{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    background-color:#FAFAFA;
}
.studet-list-cell-style{
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}
.student-list-footer-style{
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
}
.extra-card-style{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.extra-support-card-list{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);

}

.list-group-item:last-child {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.go-to-student-btn{
    background: #33A849;
    border-radius: 7px;
}

.scriibi-support-list{
    border-radius: 20px;
}

// Assessment setup Page

#create-assessment-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color:  #33A849;
}

.assessment-settings-title{
    font-weight: bold;
    color:#4C4D4F;
}

.assessment-rubric-settings-btn {

    input {
        display: none;
    }

    span {
        background: #FFFFFF;
        border: 2px solid white;
        box-sizing: border-box;
        border-radius: 7px;
        line-height: 19px;
        transition: 0.2s;
        width: 100%;
        text-align: left;

    }
    &:hover span, input:checked + span{
        border: 2px solid #33A849;
    }
}

.assessment-settings-btn {
    position: relative;
    border: 2px solid #b8b8b8;
    height: 100%;
    padding: 5px 15px 5px 30px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.3s;

    input {
        display: none;
    }
    span {
        box-sizing: border-box;
        background-color: #b8b8b8;
        border-radius: 100%;
        width: 15px;
        height: 15px;
        transition: 0.2s;
        position: absolute;
        left: 0;
        top: 5px;
        margin-top: 4px;
        margin-left: 5px;
        padding: 0;
    }
}

.assessment-settings-btn input:checked ~ .btn{
    background-color: #33A849;
}

.assessment-description {
    overflow: auto;
    width: 100%;
    border-radius: 7px;
}

.assessment-description:focus {
    outline: none;
}


.back-btn{
    border: 2px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
}

.back-btn-disabled {
    border: 2px solid #D2D2D2;
    box-sizing: border-box;
    border-radius: 7px;
    position: absolute;
    top: 450px;
}

.assessment-btn{
    background: #33A849;
    border-radius: 7px;
    color: #FFFFFF;
}

.assessment-btn:hover{
    text-decoration: none;
    color: white;
    background: #138028;
}

.card-assessment-style{
    border-radius: 20px;
    overflow: hidden;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}


// assessment-student-list page

.Assessment-Studentlist-title{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.Assessment-Student-list-cell{

    box-shadow: 0px, 0px,rgba(0, 0, 0, 0.25);
    radius: 5px;
    border-color: #FBFBFB;
}
.Assessment-Student-list-cell:hover{
    border-color:#0078ff ;
}

.save-exit-btn{
    background-color: #33A849;
    border-radius: 7px;
    color: #FFFFFF;
}

// assessement marking Page
#assessment-marking-panel {
    display: grid;
    grid-template-columns: 1fr 44px auto;
    grid-template-areas:
        "marking-panel btn-panel info-panel";
    height: 100vh;
}

.hide-info-panel #info-panel {
    width: 0;
    opacity:0;
}

.hide-info-panel #marking-panel{
    width: 97vw;
}

.hide-info-panel #btn-panel .fa-arrow-right {
    transform: rotate(180deg);
}

.marking-panel{
    overflow: hidden;
    overflow-y: auto;
    height: 100%;

}

.sidebar-btn{
    height: 44px;
}


#btn-panel .btn {
    box-shadow: none;
}

#btn-panel .fa-arrow-right {
    transition: transform 0.3s;
}

#info-panel {
    width: 250px;
    transition: width 0.3s;
    input{
        border:none;
    }
}

.image-rotate{
    transform:rotate(180deg);
    transition-duration: 0.3s;
}

.lable-input{
    border: none;

}
.criteria-section{
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

.marking-text-area{
    width: 50px;
}
label.score-radio{
    position: relative;
    line-height: 25px;
    cursor: pointer;

    input[type="radio"] {
      display: none;

    }

    span::before {
      content: '';
      display: inline-block;
      width: 22px;
      height: 22px;
      border: 2px solid #C4C4C4;
      border-radius: 50%;
      background-color:#C4C4C4;
      margin-right: 10px;
      vertical-align: text-bottom;
    }

    input[type="radio"]:checked + span::before {
      background-color: #4CB25F;
      border-color: #4CB25F;
    }

}


.score-label {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr;

}

.score-items{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr 2fr;
}

.milestone{
    text-decoration: underline;
}

.radioBTNs-section{
    box-shadow: 0px, 0px, rgba(0, 0, 0, 0.25);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
}

.level-example-btn{
    border-radius: 7px;
    border-color: #ABABAB;
    font-family:Raleway;
    font-weight: Bold;
    font-size: 18px;
    line-height: 21px;
    color: #1E1E1E;

}


.save-marking-btn{
    border-radius: 7px;
    border-color: #33A849;
    background: #33A849;
    font-family:Raleway;
    font-weight: Bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;


}

.text-area-style{
    border-radius: 7px;

    width: 100%;

}
//Student List

.student-form-inputs {
    display: block;
    float: left;
    margin-right: 3%;
    position: relative;
    margin-top: 18px;
}

.student-icon-group {
    margin-left: 5px;
}

.fname-input {
    width: 19%;
}

.lname-input {
    width: 25%;
}

.id-input {
    width: 15%;
}

.grade-input {
    width: 13%;
}

//Student text form
.text-input {
    border: none;
    border-bottom:1px solid rgba(215, 215, 215, 1);
    padding-top: 5px;
    width: 100%;
}

.text-input:focus {
    outline: none;
}

.student-form-label {
    opacity: 0.3;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:0px;
    top:0px;
    transition:0.2s ease all;
}

.student-table-label {
    font-size: 0.7rem;
    opacity: 0.7;
    color: #909090;
}

/* active state */
.text-input:focus ~ .student-form-label, .text-input:valid ~ .student-form-label {
    top:-20px;
    font-size:12px;
    opacity: 1;
}

.bar  {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #33A849;
    transition: 0.2s ease all;
}

.bar:before {
    left: 0;
}

/* active state */
input:focus ~ .bar:before {
    width: 100%;
}

input:focus {
    border-bottom: 1px solid rgba(51, 168, 73, 0);
}
// End of Student Text input

//Student Select drop down

.select-input {
    border: none;
    border-bottom:1px solid rgba(194, 194, 194, 1);
    padding: 10px 10px 0px 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.select-input:focus {
    outline: none;
    border-bottom:1px solid rgba(130, 130, 130, 1);
}

.select-input:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

/* active state */
.select-input:focus ~ .student-form-label, .select-input:valid ~ .student-form-label {
    top:-20px;
    font-size:12px;
    opacity: 1;
}

.select-input::expand:hover {
    background-color: white;
}

// End of Select drop down


// Rubric List Page
.rubric-list-title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.new-rubric{
    background: #33A849;
    border-radius: 7px;
    border:none;
    color: #FFFFFF;
}

.rubric-instruction{
    font-weight: bold;
    align-items: center;
    color: #6B6B6B;
    left: 37%;
    margin-left: -50px;
    position: absolute;
}

.rubric-list-row{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    border: 2px solid white;
    height: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rubric-list-row:hover{
    border: 2px solid #33A849;

}

.rubric-list-text {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-cells{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}
.body-cells{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}


.rubric-list-skills{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #909090;
    height: 100%;
    overflow: hidden;
}


//Rubric builder Page

.skill_card_set{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
}
#RubricBuilder_title{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #33A849;
}

.universal-card-rubric{
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.30);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.30);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.30);
    background-color: white;
}

.rubric-border-box{
    border: 2px solid #4C4D4F;
    box-sizing: border-box;
    border-radius: 7px;
}

.btn-text-type{
    border: 2px solid #33A849;
    box-sizing: border-box;
    border-radius: 20px;
}

.body-list{
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    text-indent: 5%;
    vertical-align: middle;
    border-radius:7px;
}



.form-check-label{
    display: inline-block;
    vertical-align: middle;
}


.skillset-box {
    border-radius: 7px;
    background-color: #FFD12D;
    width: 1rem;
}
.list-group-box{
    border: 2px solid #FFD12D;
    box-sizing: border-box;
    border-radius: 7px;
}

label.frm_checkbox {
    position: relative;
    line-height: 19px;
    width: 100%;
    height: 100%;
    cursor: pointer;

    input[type="checkbox"] {
        display: none;
    }

  .skill-name::before {
    content: '';
    display: inline-block;
    width: 19px;
    height: 19px;
    border: 2px solid #E2E6EC;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: text-bottom;
  }

  input[type="checkbox"]:checked + span::before {
    background-color: #FC8585;
    border-color: #FC8585;
  }
}

$skillset-colors-map: (
    yellow: #FFD12D,
    red: #FC8585,
    green: #41D798,
    pink: #F370BF,
    blue: #5995F0,
    grey: #C4C4C4,
    purple: #B975FD
);
@each $name, $color in $skillset-colors-map {
    .skillset-box-#{$name} {
        background-color: $color;
        .list-group-box {
            border-color: $color;
        }
        label.frm_checkbox input[type="checkbox"]:checked + span::before {
            background-color: $color;
            border-color: $color;
        }
    }
}

.skill-tooltip {
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
    position: absolute;
    background: rgba(0,0,0,0.85);
    color: white;
    border-radius: 0px 7px 7px 7px;
    top: 15px;
    left: 200px;
    margin-left: 15px;
    padding: 5px 10px;
    z-index: 2;
    width: 250px;
    font-size: 0.75rem;
}

.list-group-item:hover .skill-tooltip {
    visibility: visible;
    opacity: 1;
}

.form-break{
    border-bottom: 1px solid #C4C4C4;
}
.btn-clear{
    box-sizing: border-box;
    border-radius: 7px;
    width: 80px;
    height: 44px;
}

.btn-rubric-save{
    background: #33A849;
    border-radius: 7px;
    width: 263px;
    height: 45px;
}

.card-header{
    border-radius: 7px 7px 0px 0px;
    white-space: nowrap;
}

.skill-title{
    padding-left: 10%;
    font-size: 0.875rem;
    text-decoration-color: #FFFFFF;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 4;
  }

}

//data view page

.table-grid-size{
    
}
.assignment-result {
    width: 150px;
    text-align: center;

}

.table-header-style{
    background-color: #f2f2f2;
    width: 200px;
}


//---------- Media Queries --------------------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
