container_commands:
   01-install-packages:
      command: "composer.phar install -d /var/app/ondeck/"
      cwd: "/var/app/ondeck"
      leader_only: false
   10_clear_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
      leader_only: true
   12_migrate:
      command: "php artisan migrate --force"
      cwd: "/var/app/ondeck"
      leader_only: true
   13_seed:
      command: "php artisan db:seed --force"
      cwd: "/var/app/ondeck"
      leader_only: true
