@media only screen{
    body{
        background: rgb(204,204,204);
        font-family: sans-serif;
    }

    .golasheet-header{
        margin-top: 20px;
    }

    .goalsheet-header-heading{
        width: 70%;
        float:left;
    }

    .goalsheet-header-logo{
        width: 12%;
        height: 12%;
        margin-top: 3.5%;
        margin-left: 10%;
    }
    
    p{
        margin-top:0;
    }
    
    h1{
        font-weight: 900;
        padding: 20px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .finding-ideas{
        clear: both;
        color: white;
        background-color:#0cb33e;
        border-radius: 10px;
        padding: 5px;
        margin-bottom: 5px;
        width: 94%;
        margin: auto;
        padding-left: 10px;
       }
    
       .strategies{
           display: flex;
           flex: 50%;
           height: 50px;
           width: 94%;
           margin: auto;
           margin-top: 10px;
           margin-bottom: 10px;
       }
    
       .goal-heading{
           font-style: italic;
           background-color: #dadfe6;  
           padding: 5px 5px;
           border-radius: 10px;
           height: 30px;
           font-size:18px;
           width: 94%;
           margin: auto;
           margin-top: 10px;
           padding-left:5px;
           margin-bottom: 15px;
    
       }
       
       .goal-heading > h5{
           padding-top: 5px;
           margin: 0;
       }
    
       .progress-one{
           width: 60%;
           margin: auto;
           font-size:14px;
           flex: 30%;
           
       }
    
       .progress-two{
           margin: auto;
           width: 80%;
           flex:70%;
       }
    
       .strats{
           width: 94%;
           margin: auto;
           min-height: 410px;
       }
       
       .progress-two img{
               float:right;
               width:300px;
               height:50px;
               object-fit: contain; 	
           
       }
    
       .reflection-heading{
           font-size: 20px;
       }
    
       .reflection-span{
           font-size: 13px;
           float: right;
           padding-top:5px;
           padding-right:10px;
           width: 80%;
       }
    
       .lines{
           margin-bottom: 10px;
       }
    
       .lines p{
           border-bottom: 1px solid #a7a8b0;
           padding: 5px;
           display: block;
           width: 94%;
           margin: auto;
       }
    
       .sign{
           display: flex;
           
       }
    
       .checked-peer{
           margin: auto;
       }
    
       .cont{
           display: grid;
           grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));           
           grid-auto-rows: minmax(100px, auto);           
           grid-gap: 20px;
       }
    
       .signature{
           width: 300px;
           height: 50px;
           border: 1px solid black;
       }
    
       /* img:not(.pencil){
           width:100%;
       } */
    
       .container{
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        width: 21cm;
        
       }
    
       .page-break {
        page-break-after: always;
        }
    
        .page-break-screen{
            margin: auto;
            width: 21cm;
            background: rgb(204,204,204);
            height: 20px;
            box-shadow: 0px 5px 10px grey inset;
    
        }
    
}

@media only print{
    @page{margin: 0;}

    body{
        background-color: red;
        font-family: sans-serif;
        margin: 1.6cm;
    }

    .goal-headder{
        display: flex;
        flex-direction: row;
    }

    .goalsheet-header-heading{
        width: 70%;
        float:left;
    }

    .goalsheet-header-logo{
        width: 12%;
        height: 12%;
        margin-top: 3%;
        margin-left: 17%;
    }

    p{
        margin-top:0;
    }

    .finding-ideas{
        clear: both;
        color: white;
        background-color:#0cb33e;
        border-radius: 10px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact; /* Old versions of Firefox */
        -ms-print-color-adjust: exact; /* Internet Explorer/Edge */
        box-shadow: inset 0 0 0 1000px #0cb33e;    
       }

       .strategies{
           display: flex;
           flex: 50%;
           height: 50px;

       }

       .goal-heading{
            background-color: #dadfe6;  
            border-radius: 10px;
            font-size:18px;
            padding-left:5px;
            -webkit-print-color-adjust: exact
       }

       .progress-one{
            font-size:14px;
            flex: 30%;   
       }

       .progress-two{
            flex:70%;
       }
       
       .progress-two img{
            float:right;
            width:300px;
            height:50px;
            object-fit: contain; 	   
        }

       .reflection-heading{
            font-size: 16px;

       }
       
       .reflection-span{ 
            font-size: 10px;
            float: right;
            padding-top:5px;
            padding-right:10px;
       }

       .lines p{
           border-bottom: 1px solid #a7a8b0;
           padding: 5px;
           display: block;
           -webkit-print-color-adjust: exact
       }

       .sign{
            display: flex;  
            width: 100%;  
       }

       .cp1{
            width: 25%;
            margin-left: 1px;
       }

       .cp2{
            width: 25%;
            margin-left: 32%;
       }

       .signature{
           width: 300px;
           height: 50px;
           margin-bottom: 0;
           border: 1px solid black;
           -webkit-print-color-adjust: exact
       }

       .page-break {
            page-break-after: always;
        }

        .strats{
            width: 94%;
            margin: auto;
            min-height: 3.5in;
        }
}
